/* =============
    Hero
============= */
#hero {
  #hero-bottom {
    @include md {
      display: grid;
      grid-template-columns: 40% auto;
    }

    @include lg {
      grid-template-columns: 50% auto;
    }

    section {
      display: grid;
      grid-template-areas: ". subhero .";

      > div {
        grid-area: hero-sub;
      }
    }

    #hero-bottom-left {
      background-color: #fd1569;
      @include xxl {
        grid-template-columns: 20% auto 16px;
      }
    }

    #hero-bottom-right {
      background-color: #3f0f20;
      @include xxl {
        grid-template-columns: 16px auto 20%;
      }
    }
  }
}
#hero-bottom-left {
  color: white;
}

#hero-bottom-right {
  color: white;
}
