/* =============
    Hero
============= */
#hero{
    display: grid;
    grid-template-columns: 14px auto 14px;
    grid-template-areas: ". hero .";

    >div{
        grid-area: hero;
    }
}






/*----- SubHero  -----*/

#subhero1{
    display: grid;
    grid-template-columns: 14px auto 14px;
    grid-template-areas: ". subhero .";

    >div{
        grid-area: subhero;
    }


}