/* =============
    New
============= */

#new {
  section {
    img {
      width: 100%;
    }
    .card-data {
      background-color: #fe9fc1;
      display: grid;
      grid-template-columns: 16px auto 16px;
      grid-template-areas: ". card-data .";

      > div {
        grid-area: card-data;
      }
    }
  }
}
