/* =============
    Header
============= */

header {
  #logo-nav {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". logo-nav .";

    > div {
      background-color: #fe9fc1;
      grid-area: logo-nav;
    }
  }

  #form-content {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";

    > div {
      background-color: pink;
      grid-area: search;
    }
  }
}
