/* =============
    Header
============= */

header {
  #logo-nav {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". logo-nav .";
    img {
      width: 100%;
    }

    > div {
      background-color: #ffff;
      grid-area: logo-nav;
    }
  }

  #form-content {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";

    > div {
      background-color: #ffff;
      grid-area: search;

      form {
        display: flex;
        input {
          width: 100%;
        }
      }
    }
  }
}
